*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container1{
  display:flex;
  height: auto;
}

.nav2{
  display: block;
  width: 100%;
  height: 10vh;
  background-color:black;
}
main{
  display: block;
  width: 100%;
  /* padding: 20px; */
}
.sidebar{
  background: #1E282C;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #A2DAF9;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  /* background:lightskyblue; */
  color: #fafafa;
  transition: all 0.5s;
}
/* .active{
  background: lightskyblue;
  color: #000;
} */
.icon, .link_text{
  font-size: 1rem;
}